* {
    font-family: "Public Sans", sans-serif;
    background: #c70c1c;
    color: white;
    text-align: center;

}

.topnavLink {
    font-size: 0.8em;
}

.topnavLink:hover, .topnavLink:active {
    background-color: white;
    color: #c70c1c;
    text-decoration: black;
}

.linkButton:link, .linkButton:visited {
    background-color: #c70c1c;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: solid;
    border-color: white;
  }

.linkButton:hover, .linkButton:active {
    background-color: white;
    color: #c70c1c;
}

.fa-brands, .fa-solid {
    background-color: inherit   ;
    color: inherit;
}

